<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to the best <%= title.toLowerCase() %></p>
    <ul>
      <% alcohols.forEach(function(alcohols) { %>
        <li>
          <form action="/alcohols/<%= alcohols.id %>?_method=DELETE"
              method="POST"
              class="df"
          >
            <button type="submit">X</button>
          </form>
          <a href="/alcohols/<%= alcohols.id %>"><%= alcohols.name %></a>
        </li>
        <% }) %>
    </ul>
    <a href="/alcohols/new">New Alcohol</a><br>
  </body>
</html>